if(typeof errors != 'undefined')
  each error in errors
    div(role="alert").notification.is-warning= error.msg
      button(type="button", data-dismiss="alert", aria-label="Close").delete
if(success_msg != '')
  div(role="alert").notification.is-success #{success_msg}
    button(type="button", data-dismiss="alert", aria-label="Close").delete
if(error_msg != '')
  div(role="alert").notification.is-warning #{error_msg}
    button(type="button", data-dismiss="alert", aria-label="Close").delete
if(error != '')
  div(role="alert").notification.is-warning #{error}
    button(type="button", data-dismiss="alert", aria-label="Close").delete
