extends layout/index
block content
  .section
    .card
      .card-header
        h1.card-header-title Dashboard
      .card-content
        p.lead.mb-3 Welcome #{user.name}
        br
        a(href="/users/logout").button.is-danger.is-outlined Logout