<%- layout('./layouts/main.ejs') %>

<div class="section columns is-vcentered">
  <article class="message is-primary column is-half">
    <div class="message-header">
      <p>Passport auth example</p>
    </div>
    <div class="message-body">
    This is an example of user login using node passport and mongodb
    </div>
  </article>
</div>