<%- layout('./layouts/main.ejs') %>
<div class="section">
  <div class="columns is-vcentered">
    <div class="is-one-quarter column"></div>
      <div class="column is-half">
        <div class="message is-primary">
          <div class="message-header">
            <p>Log In</p>
          </div>
          <form action="/login" method="POST" class="message-body">
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input type="email" name="email" placeholder="user@email.com" class="input">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field"><label class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" name="password" placeholder="password" class="input">
                <span class="icon is-small is-left">
                  <i class="fas fa-key"></i>
                </span>
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link" type="submit">Log In</button>
              </div>
              <div class="control">
                <button class="button is-light" type="reset">Cancel</button>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    <div class="is-one-quarter column"></div>  
  </div>
</div>