extends layout/index
block content
  .section
    .columns.is-vcentered
      .column.is-one.quarter
      .column.is-half
        section.message.is-info
          .message-header Login
          .message-body
            include layout/messages
            form(action="/users/login" method="POST")
              .field
                label(for="email").label Email
                .control.has-icons-left
                  input(type="email", name="email", placeholder="Enter email")#email.input
                  span.icon.is-small.is-left: i.fa.fa-envelope
              .field
                label(for="password").label Password
                .control.has-icons-left
                  input(type="password", name="password", placeholder="Enter password")#password.input
                  span.icon.is-small.is-left: i.fa.fa-key
              .field.is-grouped.is-grouped-centered
                .control
                  button(type="submit").button.is-primary Register
      .column.is-one.quarter
