extends layout/main
block content
  .row.mt-5
    .col-md-6.m-auto
      .card.card-body
        h1.text-center.mb-3
          i.fas.fa-user-plus Register
        include layout/messages.pug
        form(action="/users/register", method="POST")
          .form-group
            label(for="name") Name
            input(type="name", name="name", placeholder="Enter name", value=typeof name != 'undefined' ? name : '')#name.form-control
          .form-group
            label(for="email") Email
            input(type="email", name="email", placeholder="Enter email", value=typeof email != 'undefined' ? email : '')#email.form-control
          .form-group
            label(for="password") Password
            input(type="password", name="password", placeholder="Enter password", value=typeof password != 'undefined' ? password : '')#password.form-control 
          .form-group
            label(for="password2") Confirm Password
            input(type="password", name="password2", placeholder="Repeat password", value=typeof password2 != 'undefined' ? password2 : '')#password2.form-control
          button(type="submit").btn.btn-primary.btn-block Register
        p.lead.mt-4
          | Have An Account?
          a(href="/users/login") Login