extends layout/index
block content
  .section
    .columns.is-vcentered
      .column.is-one-quarter
      .column.is-half
        section.message.is-info
          .message-header Register
          .message-body
            form(action="/users/register", method="POST")
              .field
                label(for="name").label Name
                .control.has-icons-left
                  input(type="name", name="name", placeholder="Enter name", value=typeof name != 'undefined' ? name : '')#name.input
                  span.icon.is-small.is-left: i.far.fa-user
              .field
                label(for="email") Email
                .control.has-icons-left
                  input(type="email", name="email", placeholder="Enter email", value=typeof email != 'undefined' ? email : '')#email.input
                  span.icon.is-small.is-left: i.fa.fa-envelope
              .field
                label(for="password") Password
                .control.has-icons-left
                  input(type="password", name="password", placeholder="Enter password", value=typeof password != 'undefined' ? password : '')#password.input
                  span.icon.is-small.is-left: i.fa.fa-key
              .field
                label(for="password2") Confirm Password
                .control.has-icons-left
                  input(type="password", name="password2", placeholder="Repeat password", value=typeof password2 != 'undefined' ? password2 : '')#password2.input
                  span.icon.is-small.is-left: i.fa.fa-key
              .field.is-grouped.is-grouped-centered
                .control
                  button(type="submit").button.is-primary Register
      .column.is-one-quarter
        include layout/messages.pug