extends layout/index
block content
  section.hero.is-primary.is-medium
    .hero-body
      .container.has-text-centered
        h1.title
          i.fab.fa-node-js.fa-3x
        h2.subtitle
          span Create an account or login
        div.field.is-grouped.is-grouped-centered
          p.control
            a(href="/users/register").button.is-primary.is-inverted Register
          p.control
            a(href="/users/login").button.is-link Log In